body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  line-height: 1.8;
  padding: 10px;
  max-width: 1640px;
  margin: 0 auto;
}

header {
  .title {
    text-align: center;
    color: aliceblue;

    img {
      top: 10%;
      right: 8%;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  form {
    input, button {
      max-width: 450px;
      margin: 0 auto;
      opacity: 0.9;
    }

    button {
      margin-top: 1em;;
    }
  }
}

footer {
  background: whitesmoke;

  span {
    text-transform: uppercase;
  }

  .image-wrapper {
    min-height: 170px;
  }

  form {
    padding: 0 !important;

    input {
      max-width: 550px;
      opacity: 0.9;
    }

    button {
      display: inline-block;
      max-width: 300px;
    }
  }
}

.w3-left, .w3-right, .icons {
  cursor: pointer
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/ruba2.JPG");
  min-height: 65%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.radioactive {
  width: 8em;
  height: 8em;
  padding: 16px;
}

.attraction {
  img {
    max-height: 200px;
  }

  p {
    max-width: 300px;
    margin: 0 auto;
  }
}

.views {
  background: whitesmoke;

  h2 {
    text-transform: uppercase;
  }
}

.carousel {
  padding: 20px;
  text-align: center;

  .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &:hover {
      cursor: pointer;
    }
  }

  .controls {
    width: 100%;
  }

  h2 {
    text-transform: uppercase;
  }

  img {
    transition: opacity 0.8s ease-in;
    opacity: 0;
    z-index: 400;
    max-height: 500px;
    max-width: 400px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1400px) {
  .carousel {
    img {
      max-height: 400px;
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: 650px) {

  header {
    .radioactive {
      width: 6em;
      height: 6em;
    }
  }

  footer {
    button {
      max-width: 100% !important;
    }
    form input:first-of-type {
      margin-bottom: 20px;
    }
  }
  .images {
    padding: 0 !important;
  }
  .carousel {
    div:first-of-type {
      margin: 0;
    }

    img {
      z-index: 0;
      min-width: 100%;
      height: 60vh;
      opacity: 1;
      object-fit: cover;
    }
  }

  .w3-left, .w3-right, .w3-badge {
    cursor: pointer
  }

  .w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
  }
}

