* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: rgb(133,168,219);
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
}

article p {
    float: left;
    width: 60%;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0;
}

article img {
    float: right;
    width: 40%;
    padding: 10px;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-image: url("assets/kpi-18.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}
