body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  line-height: 1.8;
  padding: 10px;
  max-width: 1640px;
  margin: 0 auto;
}

.main-container {
  max-width: 1020px;
  margin: 0 auto;

  form {
    margin: 0 auto;
    button {
      margin: 0 auto;
      max-width: 300px;
    }
  }
}

#result {
  font-size: 24px;
  padding: 22px;
}

