.editable {
    background: green;
}
.red,.green, .blue {
    width: 140px;
    height: 140px;
    border-radius: 80px;
    border: 4px solid #756c6c;
    display: inline-block;
    position: relative;
}

.container {
    width: 300px;
    height: 300px;
    position: relative;
    left: 180px;
}

.red {
    background: rgba(196, 6, 0, 0.494);
    left: 80px;
}

.green {
    background: rgba(0, 146, 29, 0.368);
    top: 94px;
    right: 7px;
}

.blue {
    background: rgba(0, 84, 173, 0.415);
    top: -57px;
    left: 28px;
}
